label {
    margin-top: 3px;
    margin-bottom: 3px;
}

.MuiTabs-root .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
    border-bottom: solid 2px #00b286;
    z-index: 1;
}

.green-button {
    color: #0fb78d;
}

.pointable:hover {
    cursor: pointer;
}

.date-picker .MuiFormControl-root {
    width: 100%
}

.date-icon:hover {
    cursor: pointer;
}

.listing-price-input .MuiTypography-root {
    margin-bottom: 5px;
    margin-right: -7px;
}

.adding-role-form-box div.MuiGrid-grid-md-8 {
    flex-basis: 100%;
    max-width: 100%;
}

#select-reason-box {

}

